.navContainer {
  width: 100vw;
  height: 10vh;
  background-color: #b2dfdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  margin-left: 4vh;
  font-size: larger;
  font-weight: bold;
  user-select: none;
}

.navButtons {
  display: flex;
  gap: 2vw;
  margin-right: 4vh;
  font-weight: bold;
  user-select: none;
}

.logout:active {
  background-color: #4aae9b; /* Darker green on active */
}

.logout {
  transition: background-color 0.3s;
  background-color: #86c9b8; /* Lighter green */
  padding: 10px;
  border-radius: 10px;
}

.outlet {
  width: 100vw;
  height: 90vh;
}
